@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.loaded body {
  width: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

.no-webp .header{
  background-image: url("../img/bg.jpg"); }

.header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  padding: 75px 0px 30px 0px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 5;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: calc(100vh - 158px);
}

.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  margin-top: auto;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 122.56px;
  color: #FFFFFF;
}

.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
}

.header__arrow-link {
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__arrow-link:hover .header__arrow-text {
  color: #2352de;
}

.header__arrow-link:hover svg {
  fill: #2352de;
}

.header__arrow-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.header__arrow-img {
  fill: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.menu__list :hover {
  color: #2d5ce8;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__list-item {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.about {
  padding: 140px 0;
}

.about__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #333;
}

.about__text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
}

.skill {
  background-color: #F6F6F8;
  padding: 140px 0;
}

.skill__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #333;
  margin-bottom: 60px;
}

.skill__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.skill__img {
  max-width: 415px;
  width: 100%;
}

.skill__box {
  max-width: 665px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 2.1875rem , 1.0666208791rem  +  5.6043956044vw , 5.375rem )) {
  .skill__box {
    gap: clamp( 2.1875rem , 1.0666208791rem  +  5.6043956044vw , 5.375rem );
  }
}

@supports not (gap: clamp( 2.1875rem , 1.0666208791rem  +  5.6043956044vw , 5.375rem )) {
  .skill__box {
    gap: calc(2.1875rem + 3.1875 * (100vw - 20rem) / 56.875);
  }
}

.skill__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  width: 50px;
  margin-right: 10px;
}

.skill__line-gray {
  max-width: 600px;
  width: 100%;
  position: relative;
  background-color: #dbdbed;
}

@supports (height: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
  .skill__line-gray {
    height: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
  }
}

@supports not (height: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
  .skill__line-gray {
    height: calc(1.25rem + 0.75 * (100vw - 20rem) / 56.875);
  }
}

.skill__line-blue {
  max-width: 600px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2352de;
}

@supports (height: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
  .skill__line-blue {
    height: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
  }
}

@supports not (height: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem )) {
  .skill__line-blue {
    height: calc(1.25rem + 0.75 * (100vw - 20rem) / 56.875);
  }
}

.servise__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  margin-bottom: 60px;
}

.servise__item {
  max-width: 330px;
}

.service {
  padding: 140px 0;
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.service__item-img {
  margin-bottom: 30px;
}

.service__item-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 25px;
}

.service__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.portfolio {
  padding-bottom: 140px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 60px;
}

.portfolio__filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  margin-bottom: 60px;
}

.portfolio .btn__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.portfolio .btn__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.portfolio__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
}

.portfolio__btn:hover {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  color: #2352de;
}

.portfolio__content {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  gap: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.portfolio__items {
  width: 320px;
}

.portfolio__item-img {
  width: 100%;
}

.portfolio__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__add-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 12px 24px;
  background-color: #2352DE;
  text-align: center;
  margin: 0 auto;
  max-width: 183px;
  width: 100%;
}

.review {
  padding: 140px 0;
  background: #F6F6F8;
}

.review__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 60px;
}

.review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.review__author-link :hover {
  color: #2352DE;
}

.review__author-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

.review__author-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  font-style: italic;
  max-width: 400px;
  text-align: center;
}

.review__author-video {
  position: relative;
}

.review__video-img {
  max-width: 570px;
  width: 100%;
}

.review__play-btn {
  position: absolute;
  top: 36%;
  left: 41%;
}

.review__number-items {
  padding: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 17px;
}

.review__number-item {
  width: 280px;
  padding: 50px 0;
  background-color: #DBDBED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.review__number-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.review__number {
  font-weight: 600;
  font-size: 44px;
  line-height: 100%;
}

.contacts {
  padding-bottom: 140px;
}

.contacts__title {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 530px;
}

.contacts__content-text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.contacts__connection :hover {
  color: #2352DE;
}

.contacts__phone {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 15px;
}

.contacts__email {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.contacts__sosial-link {
  margin-right: 20px;
}

.send__message {
  margin-bottom: 30px;
}

.send__message textarea {
  padding: 15px;
  max-width: 540px;
  width: 100%;
  height: 115px;
  resize: none;
  background: #F6F6F8;
  padding: 15px;
}

.send__message textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send__message textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send__message textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send__message textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send__message textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send .form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 540px;
  width: 100%;
  gap: 30px;
}

.send .form p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 10px;
}

.send .form__item-name {
  margin-bottom: 30px;
}

.send .form__item-name input {
  width: 255px;
  height: 44px;
  padding: 15px;
  background: #F6F6F8;
}

.send .form__item-name input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send .form__item-name input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send .form__item-name input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send .form__item-name input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send .form__item-name input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #9C9CAB;
}

.send .form__btn-link button {
  padding: 12px 24px;
  background-color: #2352DE;
}

.send .form__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #fff;
}

.footer {
  padding: 50px 0;
  background: #343740;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  .header {
    position: relative;
    padding-top: 50px;
  }

  .header__top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo-img {
    width: 70%;
  }

  .header__text {
    font-size: 30px;
  }

  .header__title {
    font-size: 55px;
  }

  .no-webp .menu__list{
    background-image: url("../img/bg-menu.jpg"); }

  .menu__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(0px, -300%);
        -ms-transform: translate(0px, -300%);
            transform: translate(0px, -300%);
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    padding: 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .menu__list-item {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .burger {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .burger__decor {
    width: 100%;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header-active .menu__list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .header-active .burger {
    top: 0;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-active .burger span {
    position: absolute;
  }

  .header-active .burger span:nth-child(1) {
    top: 45%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header-active .burger span:nth-child(2) {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-active .burger span:nth-child(3) {
    bottom: 45%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .send .form__items {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .send .form__item-name input {
    width: 360px;
  }

  .footer__logo {
    width: 70%;
  }
}

@media (max-width: 76.875em) {
  .contacts__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 61.99875em) {
  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }

  .header__logo-img {
    width: 75%;
  }

  .header__text {
    font-size: 40px;
  }

  .header__title {
    font-size: 75px;
  }

  .menu__list {
    gap: 18px;
  }

  .menu__list-item {
    font-size: 16px;
  }

  .about {
    padding: 100px 0px;
  }

  .about__title {
    font-size: 40px;
  }

  .skill {
    padding: 100px 0px;
  }

  .skill__title {
    font-size: 40px;
  }

  .skill__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }

  .servise__title {
    font-size: 40px;
  }

  .servise__item {
    max-width: 100%;
  }

  .servise__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .service {
    padding: 100px 0px;
  }

  .portfolio__title {
    font-size: 40px;
  }

  .portfolio__filter-btn {
    gap: 30px;
    margin-bottom: 55px;
  }

  .portfolio__btn {
    font-size: 20px;
  }

  .portfolio__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 45px;
  }

  .review {
    padding: 100px 0px;
  }

  .review__title {
    font-size: 40px;
  }

  .review__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }

  .review__play-btn {
    max-width: 80px;
  }

  .review__number-items {
    padding: 100px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts {
    padding: 100px 0px;
  }

  .contacts__title {
    font-size: 40px;
  }

  .contacts__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }

  .footer {
    padding: 35px 0;
  }

  .footer__logo {
    width: 75%;
  }
}

@media (max-width: 47.99875em) {
  .header__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about {
    padding: 70px 0px;
  }

  .about__title {
    font-size: 40px;
  }

  .skill {
    padding: 70px 0px;
  }

  .skill__title {
    font-size: 40px;
  }

  .skill__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }

  .servise__title {
    font-size: 40px;
  }

  .service {
    padding: 70px 0px;
  }

  .service__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .portfolio__title {
    font-size: 40px;
  }

  .portfolio__filter-btn {
    gap: 25px;
    margin-bottom: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .portfolio .btn__1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio .btn__2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio__btn {
    font-size: 18px;
  }

  .portfolio__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 30px;
  }

  .portfolio__item-img {
    min-width: 315px;
  }

  .review {
    padding: 70px 0px;
  }

  .review__title {
    font-size: 40px;
  }

  .review__play-btn {
    max-width: 60px;
  }

  .review__number-items {
    padding: 70px 0px;
  }

  .contacts {
    padding: 70px 0px;
  }

  .contacts__title {
    font-size: 40px;
  }
}

@media (max-width: 29.99875em) {
  .header__text {
    font-size: 25px;
  }

  .header__title {
    font-size: 43px;
    line-height: 50.56px;
  }

  .header__arrow-text {
    font-size: 15px;
  }

  .about {
    padding: 50px 0px;
  }

  .about__title {
    font-size: 35px;
  }

  .skill {
    padding: 50px 0px;
  }

  .skill__title {
    font-size: 35px;
  }

  .skill__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }

  .servise__title {
    font-size: 35px;
  }

  .service {
    padding: 50px 0px;
  }

  .portfolio__title {
    font-size: 35px;
  }

  .portfolio__filter-btn {
    gap: 10px;
    margin-bottom: 40px;
  }

  .portfolio__btn {
    font-size: 16px;
  }

  .review {
    padding: 50px 0px;
  }

  .review__title {
    font-size: 35px;
  }

  .review__play-btn {
    max-width: 50px;
  }

  .review__number-items {
    padding: 50px 0px;
  }

  .contacts {
    padding: 50px 0px;
  }

  .contacts__title {
    font-size: 35px;
  }

  .send .form__item-name input {
    width: 295px;
  }
}

.webp .header{ background-image: url(../img/bg.webp); }

@media (max-width: 550px){

  .webp .menu__list{ background-image: url(../img/bg-menu.webp); }
}